<div class="container">
    <mat-toolbar>
        <span class="fillspace"></span>
        <span>Rezerve Appointment</span>
        <span class="fillspace"></span>
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="closeDialog()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar>
    <form [formGroup]="_appointmentService.form" class="normal-form" (ngSubmit)="scheduleTime(_appointmentService.form)">
        <mat-grid-list cols="2" rowHeight="300px">
            <mat-grid-tile>
                <div class="controles-container">
                    <mat-form-field>
                        <input formControlName="date" matInput placeholder="Date" readonly>
                    </mat-form-field>
                    <mat-form-field>
                        <input formControlName="startTime" matInput placeholder="Start Time" readonly>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Choose Dentist</mat-label>
                        <mat-select formControlName="dentist" matInput>
                            <mat-option *ngFor="let doc of _appointmentService.docs" [value]="doc">
                                {{doc}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="controles-container">
                    <mat-form-field appearance="fill">
                        <mat-label>Choose Type</mat-label>
                        <mat-select formControlName="type" matInput>
                            <mat-option *ngFor="let type of _appointmentService.types" [value]="type">
                                {{type}}
                            </mat-option>
                        </mat-select>
                        <mat-error>Type is required!</mat-error>
                    </mat-form-field>
                    <span class="fillspace"></span>
                    <button mat-raised-button color="primary" type="submit"
                        [disabled]="_appointmentService.form.invalid">Schedule Meeting</button>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </form>
</div>