.example-card {
  max-width: 200px;
}

.example-header-image {
  background-image: url('https://logodix.com/logo/1956323.png');
  background-size: cover;
}

.example-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

