<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  <span>DENTAL CLINIC</span>
  <span class="spacer"></span>
  <button mat-icon-button>
    <mat-icon [matMenuTriggerFor]="menu">
      <span class="material-icons"> account_circle </span>
    </mat-icon>
  </button>
  <span>{{ user?.username }}</span>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/dashboard/profile">
    <mat-icon>account_circle</mat-icon>
    <span>Profile </span>
  </button>
  <button mat-menu-item routerLink="/settings" (click)="settings()">
    <mat-icon>settings</mat-icon>
    <span>Settings </span>
  </button>
  <button mat-menu-item routerLink="/login" (click)="logout()">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8 sidenav">
    <button
      routerLink="/dashboard/schedule"
      mat-button
      class="menu-button"
      *appHasRole="['ROLE_ADMIN', 'ROLE_SECRETARY', 'ROLE_PUBLIC']"
    >
      <mat-icon>calendar_today</mat-icon>
      <span>Schedule</span>
    </button>

    <button
      routerLink="/dashboard/users"
      mat-button
      class="menu-button"
      *appHasRole="['ROLE_ADMIN']"
    >
      <mat-icon>account_box</mat-icon>
      <span>Users</span>
    </button>

    <button
      routerLink="/dashboard/appointments"
      mat-button
      class="menu-button"
      *appHasRole="[
        'ROLE_ADMIN',
        'ROLE_SECRETARY',
        'ROLE_DOCTOR',
        'ROLE_PUBLIC'
      ]"
    >
      <mat-icon>assignment</mat-icon>
      <span>Appointments</span>
    </button>

    <button
      routerLink="/dashboard/reports"
      mat-button
      class="menu-button"
      *appHasRole="['ROLE_ADMIN', 'ROLE_SECRETARY']"
    >
      <mat-icon>line_style</mat-icon>
      <span>Reports</span>
    </button>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="bg-image"></div>
    <div class="content mat-elevation-z12">
      <div flex>
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
