
mat-toolbar, .spacer {
    background: #004a9f;
    color: white;
    flex: auto;
}

.sidenav{
  background:#004a9f;
}

mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    background: #002b5c;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}

.content {
    height: calc(100vh - 98px);
    border-radius: 10px;
    margin: 0px;
    margin-left: 5px;

    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: rgb(158, 160, 161);
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    border: 3px solid #004a9f;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    width: 92%;
    padding: 0px;
}

mat-sidenav-container {
    height: calc(100vh - 65px);
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;

    mat-icon {
        margin-right: 8px;
    }
}

.bg-image{
  background-image: url("../../assets/img/beach.jpg");
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: calc(100vh - 98px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}

.loader-container{
  position: fixed;
  width: 100%;
  z-index: 20;
}
